# 格式化风格
BasedOnStyle: LLVM
# 缩进宽度
IndentWidth: 4
# 换行宽度
ColumnLimit: 180
# 空格是否保留
UseTab: Never
# 大括号是否单独一行
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  SplitEmptyFunction: false
# 括号内的空格
SpaceInParentheses: false